<ion-header class="cus-header">
    <ion-navbar hideBackButton="true">
        <button ion-button class="new-signup-ion" (click)="backbutton()">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
        <ion-title class="new-signup-tilte">
            Sign Up
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding class="bg-image">
    <div class="cus_login cus-signup">
        <div class="logo">
            <img src="images/logo.png">
        </div>
        <div class="welcome-text">Welcome</div>
        <form [formGroup]="signupForm">
            <ion-list>
                <ion-item class="login-username">
                    <ion-label>Username</ion-label>
                    <ion-input type="text" maxLength="40" class="c_username" placeholder="Email ID" [(ngModel)]="email" formControlName="email"></ion-input>
                </ion-item>
                <p class="valid-form" *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
                    Please enter a valid email.
                </p>
                <ion-item class="login-password">
                    <ion-label>Password</ion-label>
                    <ion-input type="password" maxLength="16" class="p_username" placeholder="Password" [(ngModel)]="password" formControlName="password" onCopy="return false" onPaste="return false"></ion-input>
                </ion-item>
                <p class="valid-form" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
                    Password should be between 8 to 16 characters.
                </p>
                <ion-item class="login-password">
                    <ion-label>Password</ion-label>
                    <ion-input type="password" maxLength="16" class="p_username cus_p_username" placeholder="Confirm Password" [(ngModel)]="cpassword" formControlName="cpassword" onCopy="return false" onPaste="return false"></ion-input>
                </ion-item>
                <p class="valid-form" *ngIf="!signupForm.controls.cpassword.valid  && signupForm.controls.cpassword.dirty">
                    Password and Confirm Password does not matches.
                </p>
                <p class="valid-form" *ngIf="signuperror && email == validEmailCheck && password == validPasswordCheck && cpassword == validPasswordCheck">
                    {{errmessage}}
                </p>
                <div class="cus-btn" (click)="home()">
                    <button ion-button full [disabled]="!signupForm.valid">LET'S START</button>
                </div>
            </ion-list>
        </form>
    </div>
</ion-content>
<ion-footer class="cus-footer">
    <ion-toolbar class="signin">
        <ion-title>Have an account? <span><u><a (click)="signin()">Sign In</a></u></span></ion-title>
    </ion-toolbar>
</ion-footer>