<ion-header class="cus-header remove-back-btn" style="z-index: 99999999;">
  <ion-navbar>
    <button ion-button menuToggle style="display:block;">
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Pre Chat
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="cus_prechat">
    <div class="pre-chat-details">
        Allows anonymous visitors to introduce themselves, leave email address and phone number.    
    </div>
    <div class="Field-row">
        Fields
    </div>
    <div class="field-cnt">
        <ion-grid>
            <div class="field-cnt-row">
                <ion-row>
                    <ion-col col-6>
                        <div class="left-field">
                            <div class="hours-checkbox-left pre-chat-form">
                                <ion-item>
                                    <ion-label>Name</ion-label>
                                    <ion-checkbox color="dark" checked="true" disabled></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col col-6>
                        <div class="right-field">
                            <div class="hours-checkbox-left pre-chat-form">
                                <ion-item>
                                    <ion-label>Required</ion-label>
                                    <ion-checkbox color="dark" [(ngModel)]="namerequire"></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                    </ion-col>
                </ion-row> 
            </div>  
            <div class="field-cnt-row">
                <ion-row>
                    <ion-col col-6>
                        <div class="left-field">
                            <div class="hours-checkbox-left pre-chat-form">
                                <ion-item>
                                    <ion-label>Email</ion-label>
                                    <ion-checkbox color="dark" [(ngModel)]="emailcheck" (ionChange)="emailvalue($event.checked)"></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col col-6>
                        <div class="right-field">
                            <div class="hours-checkbox-left pre-chat-form">
                                <ion-item>
                                    <ion-label>Required</ion-label>
                                    <ion-checkbox color="dark" [(ngModel)]="emailrequire" [disabled]="disableemail"></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                    </ion-col>
                </ion-row> 
            </div> 
            <div class="field-cnt-row">
                <ion-row>
                    <ion-col col-6>
                        <div class="left-field">
                            <div class="hours-checkbox-left pre-chat-form">
                                <ion-item >
                                    <ion-label>Phone Number</ion-label>
                                    <ion-checkbox color="dark" [(ngModel)]="phonecheck" (ionChange)="numbervalue($event.checked)"></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col col-6>
                        <div class="right-field">
                            <div class="hours-checkbox-left pre-chat-form">
                                <ion-item>
                                    <ion-label>Required</ion-label>
                                    <ion-checkbox color="dark" [(ngModel)]="phonerequire" [disabled]="disablenumber"></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                    </ion-col>
                </ion-row> 
            </div> 
        </ion-grid>
    </div>
    <div class="automatic-request">
        <h2 class="automatic-request-hdng">Automatic requests to fill the form</h2>
        <div class="automatic-inner">
            <div class="txt-a">Chat window language is English.</div>
        </div>
        <div class="automatic-inner">
            <div class="txt-a">For all anonymous visitors after the first message</div>
            <div class="hours-checkbox-left pre-chat-form">
                <ion-item>
                    <ion-label>Enable prechat form</ion-label>
                    <ion-checkbox color="dark" [(ngModel)]="prechatcheck"></ion-checkbox>
                </ion-item>
            </div>
        </div>
    </div>
     <div class="select-btn m-t-25 m-b-25">
        <ion-grid>
            <ion-row>
                <ion-col class="col1" col-6>
                    <button ion-button block class="green-btn" (click)="saveform()">SAVE</button>
                </ion-col>
                <ion-col class="col2" col-6>
                    <button ion-button block class="grey-btn" (click)="cancelform()">CANCEL</button>    
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>