<ion-header class="cus-header remove-back-btn" style="z-index: 99999999;">
  <ion-navbar hideBackButton="true">
      <button ion-button menuToggle style="display:block;">
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
          Visitors List
      </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="visitor-wrapper">
      <div class="visitoe-head">
          <span>Visitors in real time</span>
          <ion-list class="select-status">
              <ion-item>
                  <ion-label>
                      <ion-icon name="settings"></ion-icon>
                  </ion-label>

                  <ion-select [(ngModel)]="selected_values" multiple="true" class="new-select" (ngModelChange)="onChange()">
                      <ion-option *ngFor="let value of fieldsname" value="{{value.name}}" [selected]="true">{{value.name}}</ion-option>
                  </ion-select>
              </ion-item>
          </ion-list>
      </div>
      <div class="visitor-inner-heading">
          View the list of visitors who are currently online on your website and start a conversation manually.
          <!-- <a> More about the list.</a> -->
      </div>
      <div class="visitors-table" *ngIf="showlist">
          <table>
              <thead>
                  <tr>
                      <th *ngIf="VISITOR">VISITOR</th>
                      <th *ngIf="ONLINE" class="down-arrow">ONLINE</th>
                      <th *ngIf="STATUS"> STATUS</th>
                      <th *ngIf="LOCATION">LOCATION</th>
                      <th *ngIf="PAGE">PAGE</th>
                      <th *ngIf="REFERRER"> REFERRER</th>
                      <th *ngIf="OS">OS</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let visitor of visitorinfo ; let i=index;">
                      <td *ngIf="VISITOR && visitor.checkonline=='online' "><span class="user-icon"><span class="c_dot online"></span><img src="assets/icon/user-icon.png" class="os-img">
                          </span><span class="usr-name">{{visitor.name}}</span></td>

                      <td *ngIf="VISITOR && visitor.checkonline != 'online'"><span class="user-icon"><span class="c_dot offline"></span><img src="assets/icon/user-icon.png" class="os-img">
                          </span><span class="usr-name">{{visitor.name}}</span></td>

                      <td *ngIf="ONLINE">{{visitor.staytime}}</td>
                      <td *ngIf="STATUS" (click)='chatWithAnoynomousUser(visitor.anoynomousUid,visitor.name)'><img src="assets/icon/pointer.png" [className]='rotate[i]'></td>
                      <!-- <td *ngIf="STATUS" ><img src="assets/icon/pointer.png" [className]='rotate[i]'></td> -->
                      <td *ngIf="LOCATION"> {{visitor.location}}</td>
                      <td *ngIf="PAGE">{{visitor.page}}</td>
                      <td *ngIf="REFERRER">{{visitor.referer}}</td>

                      <td *ngIf="OS">
                          <div *ngIf="visitor.browsername=='Opera'">
                              <span class="os-img"><img src="assets/icon/icon_opera.png" class="os-img"></span>
                              <span class="os-img"><img src="assets/icon/{{visitor.platformicon}}" class="os-img"></span>
                          </div>
                          <div *ngIf="visitor.browsername=='FireFox'">
                              <span class="os-img"><img src="assets/icon/icon_firefox.jpeg" class="os-img"></span>
                              <span class="os-img"><img src="assets/icon/{{visitor.platformicon}}" class="os-img"></span>
                          </div>
                          <div *ngIf="visitor.browsername=='Microsoft Edge'">
                              <span class="os-img"><img src="assets/icon/icon_edge.png" class="os-img"></span>
                              <span class="os-img"><img src="assets/icon/{{visitor.platformicon}}" class="os-img"></span>
                          </div>
                          <div *ngIf="visitor.browsername=='Safari'">
                              <span class="os-img"><img src="assets/icon/icon_safari.png" class="os-img"></span>
                              <span class="os-img"><img src="assets/icon/{{visitor.platformicon}}" class="os-img"></span>
                          </div>
                          <div *ngIf="visitor.browsername=='Internet Explorer'">
                              <span class="os-img"><img src="assets/icon/icon_explorer.jpeg" class="os-img"></span>
                              <span class="os-img"><img src="assets/icon/{{visitor.platformicon}}" class="os-img"></span>
                          </div>
                          <div *ngIf="visitor.browsername=='Chrome'">
                              <span class="os-img"><img src="assets/icon/icon_chrome.png" class="os-img"></span>
                              <span class="os-img"><img src="assets/icon/{{visitor.platformicon}}" class="os-img"></span>
                          </div>
                          <div *ngIf="visitor.browsername=='Blink'">

                              <span class="os-img"><img src="assets/icon/icon_blink.png" class="os-img"></span>
                              <span class="os-img"><img src="assets/icon/{{visitor.platformicon}}" class="os-img"></span>
                          </div>
                          <div *ngIf="visitor.browsername=='Not Detected' ">
                              {{visitor.browsername}},<span class="os-img"><img src="assets/icon/{{visitor.platformicon}}" class="os-img"></span>
                          </div>
                      </td>
                  </tr>
              </tbody>
              <tbody *ngIf="!showlist">
                  <td>No User Visited Yet</td>
              </tbody>
          </table>
      </div>
      <div class="visitor-footer">
          <!-- Emulated data. Upgrade to a paid plan to view your real visitors. -->
      </div>
  </div>
</ion-content>